<div id="grid">
    <h1><%= name %></h1>
    <div class="row" id="people">
        <div class="column categories"></div>
        <% people.forEach( (person) => { %>
            <div class="column">
                <h4 class="person"><%= person %></h4>
            </div>
        <% }) %>
    </div>
    <% categoryNames.forEach( (name) => { %>
        <div class="row">
            <div class="column categories">
                <h4><%= name %></h4>
            </div>
            <% for (let i = 0; i < categories[name].length; i++) { %>
                <div class="column">
                    <ul class="options">
                        <% categories[name].forEach( (option) => { %>
                            <li><%= option %></li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>
        </div>
    <% }) %>
</div>