<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Success, see links below</h1>
    <ul>
        <% let i = 1 %>
        <% links.forEach( (link) => { %>
            <li>
                <a href='/brainzilla?<%= '&url=' + encodeURIComponent(link) %>'>Link <%= i %></a>
            </li>
            <% i++ %>
        <% }) %>
    </ul>
</body>
</html>